<div class="container-fluid">

  <table class="table table-hover">
    <tr>
      <p><h3>Please, select one of the following surveys to give your valuable response.</h3></p>
    </tr>

    <thead  class="thead-light">
      <tr>
        <td><b>Survey Name</b></td>
        <td><b>Survey Description</b></td>
      </tr>
    </thead>

    <% @surveys.each do |survey| %>
      <tbody>
        <tr>
          <td><%= survey.name %></td>
          <td><%= survey.description %></td>
          <td><%= link_to "Click here to participate", new_survey_response_path(id: survey.id) %></td>
        </tr>
      </tbody>
    <% end %>

  </table>
</div>
